.round {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%; }

.unselectable {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none; }

.disable-select, .nav-btn .btn-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  family: CgPro;
  src: url(cg-pro.otf); }
html {
  font-family: CgPro, sans-serif; }

body {
  margin: 0px;
  background-color: #221D19; }

.screen-fill, #logo-wrapper, #nav, #music, #bio {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px; }

#logo-wrapper {
  bottom: 20%;
  background-color: #10100B; }

#logo {
  width: 100%;
  height: 100%; }

#nav {
  top: 80%;
  background-image: url(imgs/logo-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1000;
  box-shadow: inset 0px 0px 10px 5px #030406; }

.nav-btn {
  position: relative;
  width: calc(50% - 15px);
  height: calc(100% - 20px);
  top: 10px;
  display: inline-block;
  transition: opacity 2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  text-align: center;
  line-height: 100%;
  font-size: 4vh; }

.nav-btn .btn-content {
  position: relative;
  border-bottom-style: solid;
  display: inline-block;
  padding-bottom: 10px;
  top: 30%;
  width: 40%;
  cursor: pointer; }

.nav-btn:nth-child(1) {
  left: 10px; }

.nav-btn:nth-child(2) {
  left: calc(15px);
  transition-delay: 0.5s; }

.hidden {
  opacity: 0; }

#music {
  background-color: gray;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(gray));
  background-image: -webkit-linear-gradient(white, gray);
  background-image: -moz-linear-gradient(white, gray);
  background-image: -o-linear-gradient(white, gray);
  background-image: -ms-linear-gradient(white, gray);
  background-image: linear-gradient(white, gray);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 100%;
  bottom: -80%;
  box-shadow: 0px 0px 10px 5px black;
  z-index: 5;
  text-align: center;
  overflow: hidden; }

#bio {
  top: 180%;
  bottom: -160%;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
  background-image: -webkit-linear-gradient(gray, black);
  background-image: -moz-linear-gradient(gray, black);
  background-image: -o-linear-gradient(gray, black);
  background-image: -ms-linear-gradient(gray, black);
  background-image: linear-gradient(gray, black);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  z-index: 4; }
  #bio p {
    font-size: 3vh;
    color: #cccccc; }
  #bio #footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.5vh;
    color: #4d4d4d; }
    #bio #footer a {
      color: #363663;
      text-decoration: none; }
  #bio #portrait {
    margin-top: 3%;
    width: auto;
    height: 60%;
    left: 25%; }

.music-row {
  width: 100%;
  position: relative;
  height: 30vh;
  margin-top: 2vh;
  text-align: center; }
  .music-row .song-wrapper {
    display: inline-block;
    margin-left: 2vh;
    position: relative;
    width: 30vh;
    height: 30vh;
    background-color: #8DC5D7;
    transition: background-size 0.5s cubic-bezier(0, 0.1, 0.3, 1);
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .music-row .song-wrapper p {
      text-align: center;
      position: absolute;
      bottom: 0%;
      width: 100%;
      line-height: 100%;
      font-size: 2vh;
      color: transparent;
      transition: color 0.3s cubic-bezier(0, 0, 0.3, 1);
      margin: 0;
      padding-bottom: 5%; }
    .music-row .song-wrapper .song-play {
      position: absolute;
      opacity: 0;
      left: 35%;
      width: 40%;
      top: 20%; }
  .music-row .song-wrapper:hover, .music-row .playing {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    background-size: 100% 80%; }
    .music-row .song-wrapper:hover p, .music-row .playing p {
      color: rgba(0, 0, 0, 0.9); }
    .music-row .song-wrapper:hover .song-play, .music-row .playing .song-play {
      opacity: 1; }

.icon-row {
  position: relative;
  width: 100%;
  margin-top: 2vh;
  text-align: center; }
  .icon-row .icon-wrapper {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%; }
    .icon-row .icon-wrapper svg {
      width: auto;
      height: 10vh; }

@media screen and (max-aspect-ratio: 1 / 1) {
  .music-row {
    height: 25vw; }
    .music-row .song-wrapper {
      width: 25vw;
      height: 25vw; }
      .music-row .song-wrapper p {
        font-size: 1vh; }

  #music {
    padding-top: 5%; } }
@media (max-width: 450px) {
  #music {
    padding-top: 20%; }

  .nav-btn .btn-content {
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
